.suggestionlog-message {
    display: flex;
    flex-direction: row;
    gap: 10px;
    border-bottom: 1px solid lightgrey;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.suggestionlog>p {
    font-weight: bold;
}

.card.suggestionlog-message {
    height: 100px;
    width: 100px;
    overflow: hidden;
}