.tile {
    display: flex;
    height: 13vh;
    width: 6vw;
    justify-content: center;
    align-items: center;
    position: relative;
}

.room {
    border: 1px solid black;
    background-color: lightgray;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.horizontal-hallway {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(97, 97, 97);
    width: 100%;
    height: 20%;
}

.vertical-hallway {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(97, 97, 97);
    width: 20%;
    height: 100%;
}

.character-marker {
    position: absolute;
    left: 0%;
    display: flex;
    width: 100%;
}

.person {
    border-radius: 20px;
    height: 30px;
    width: 30px;
}

.player-token-horizontal {
    height: 80%;
    width: 10%;
}

.player-token-vertical {
    height: 15%;
    width: 50%;
}

.player-token.glow {
    outline: thick double black;
}

.player-token-room {
    height: 25%;
    width: 20%;
}

.player-token.red {
    background-color: red;
}

.player-token.yellow {
    background-color: yellow;
}

.player-token.white {
    background-color: white;
}

.player-token.green {
    background-color: green;
}

.player-token.blue {
    background-color: blue;
}

.player-token.purple {
    background-color: purple;
}

.hallway.occupied {
    border: 1px solid black;
    background-color: rgb(225, 249, 225);
}

.room h3 {
    position: relative;
    top: -10px;
}

.passage.Study {
    position: absolute;
    bottom: 0px;
    right: 0px;
    height: 2vh;
    width: 1vw;
    background-color: rgb(255, 255, 255);
}

.passage.Lounge {
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 2vh;
    width: 1vw;
    background-color: rgb(255, 255, 255);
}

.passage.Conservatory {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 2vh;
    width: 1vw;
    background-color: rgb(255, 255, 255);
}

.passage.Kitchen {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 2vh;
    width: 1vw;
    background-color: rgb(255, 255, 255);
}

.alert-message {
    background-color: rgb(255, 171, 171);
    font-size: 10px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    width: 5vw;
    /* or any specific width */
    padding: 10px;
    /* optional, for some internal spacing */
    margin: 10px 0;
    /* optional, for spacing outside the alert */
}
