.title {
    margin-left: 25px;
}

.card.header-game-cards {
    margin-top: 15px;
    height: 125px;
    width: 125px;
    overflow: hidden;
}

.card.header-user-character {
    height: 125px;
    width: 125px;
    overflow: hidden;
}

.user-information {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
}

.user-name {
    margin: 0px;
    font-weight: bold;
}